.App {
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.user-style {
  background-color: #ECECEC;
  color: black;
  width: 623px;
  height: 66px;
  font-size: 24px;
  padding: 8px 10px;
}

.user-heading {
  background-color: #C5DFFF;
  color: black;
  width: 623px;
  height: 66px;
  font-size: 24px;
  padding: 8px 10px;
}

.user-style:hover {
  background-color: #e4e4e4;
  color: black;
  cursor: pointer;
}

.selected {
  background-color: #D4D4D4;
  color: black;
  cursor: pointer;
}

.user-image {
  width: 52px;
  margin-right: 10px;
}

.padding-top {
  padding-top: 175px;
}

.details-img-margin {
  margin-top: 27px;
}

.user-details-box {
  background-color: #D4D4D4;
  color: black;
  width: 404px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}